<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pawnifier</title>
  <link rel="stylesheet" href="static/output.css">
  <script src="https://unpkg.com/htmx.org@2.0.0"
    integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="w-screen h-screen flex flex-col p-4 gap-4">

    <button class="btn btn-primary w-full" onclick="createModal.showModal()">Eintrag hinzufügen</button>

    <table class="table table-zebra">
      <thead>
        <tr>
          {{ range .Columns }}
          <th> {{ . }}</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range .Data }}
        <tr>
          <th> {{ .Id }} </th>
          <td> <input class="input" type="text" placeholder="Name..." value="{{ .Name }}" /> </td>
          <td> <input class="input" type="number" placeholder="Age..." value="{{ .Age }}" /> </td>
          <td> <input class="input" type="text" placeholder="Profession..." value="{{ .Profession }}" /> </td>
        </tr>
        {{ end }}
      </tbody>
    </table>

    <dialog id="createModal" class="modal">
      <div class="modal-box">
        <h3 class="text-lg font-bold">Insert new entry</h3>
        <form method="dialog" hx-post="/createEntry" hx-swap="none" hx-on:htmx:after-request="this.reset()"
          class="flex flex-col gap-2">
          <input class="input input-bordered" type="text" placeholder="Name..." name="name" />
          <input class="input input-bordered" type="number" placeholder="Age..." name="age" />
          <input class="input input-bordered" type="text" placeholder="Profession..." name="profession" />
          <button class="btn btn-success" type="submit" onclick="createModal.close()">Create</button>
          <button class="btn btn-error" type="reset" onclick="createModal.close()">Cancel</button>
        </form>
      </div>
    </dialog>
  </div>
</body>

</html>
